onlineshop/onlineshop/settings/dev.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
*.sqlite3
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
cache/*
onlineshop/media/*
assets/*
onlineshop/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
onlineshop/.env
*/venv/
